#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  /* background-color: rgb(38, 35, 35); */
  color: white;  
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: black;
  color: white;
  background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%);
}


.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
